<div id="<%= dom_id user %>">
  <p>
    <strong><%=t(:username)%>:</strong>
    <%= user.username %>
  </p>

  <p>
    <strong><%=t(:password)%>:</strong>
    <%= user.password %>
  </p>

  <p>
    <strong><%=t(:email)%>:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong><%=t(:wallet)%>:</strong>
    <%= user.money %>
   
   
  </p>


</div>
