<p style="color: green"><%= notice %></p>

<div class="row mb-2">
  <div class="col-md-auto pe-1">
    <%= button_to "#{t(:back_to_hotels)}", hotels_path, :class => 'btn btn-outline-primary mb-1' %>
  </div>
  <% if @is_admin %>
  <div class="col-md-auto px-1">
    <%= button_to "#{t(:edit_this_room)}", edit_room_path(@room), :class => 'btn btn-outline-primary mb-1' %>
  </div>
  <div class="col-md-auto px-1">
    <%= button_to "#{t(:destroy_this_room)}", @room, method: :delete, :class => 'btn btn-outline-primary mb-1' %>
  </div>
  <% end %>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= @room.name.to_s+@room.id.to_s %></h5>
    <p class="card-text"><%= @room.description %></p>
    <p class="card-text"><small><%=t(:cost_per_night)%><%=@room.cost_per_night %></small></p>
    <div id="calendar" data="<%= @calendar_data %>" class="row">

    </div>
    <br>
    <%= form_with url: rooms_book_path do |form| %>
    <% if @errors.any? %>
    <% @errors.each do |msg| %>
    <div class="alert alert-danger"><%= msg %></div>
    <% end %>
    <% end %>
    <%= form.hidden_field :room_id, value: @room.id %>
    <%= form.label "#{t(:book_date)}:" %>
    <%= form.date_field :date, :id => 'datefield' %>
    <%= form.submit "#{t(:book)}", :class => 'btn btn-outline-primary' %>
    <% end %>

  </div>
</div>

<div class="row mb-4">
  <div class="col-sm-12">
    <%= image_tag @room.images[0], :class => 'card-img img-thumbnail', :id => 'mainimage' %>
  </div>
</div>

<div class="card-group mb-4">
<% @room.images.each do |image| %>

    <div class="card">
      <%= image_tag image, size: '175', :class => 'card-img changeimage' %>
    </div> 
   
<% end %>
</div>


